.accordion {
  overflow: hidden;

  &:not(.accordion--mobile) &__btn {
    user-select: none;
    cursor: pointer;
  }

  &:not(.accordion--mobile) &__content {
    display: none;
  }

  &:not(.accordion--mobile).accordion--activating &__content {
    height: 0;
    display: block;
    overflow: hidden;
    transition: height .5s;
  }

  &:not(.accordion--mobile).accordion--active &__content {
    display: block;
  }

  @media (max-width: 767px) {
    &--mobile &__btn {
      user-select: none;
      cursor: pointer;
    }
  
    &--mobile &__content {
      display: none;
    }
  
    &--mobile.accordion--activating &__content {
      height: 0;
      display: block;
      overflow: hidden;
      transition: height .5s;
    }
  
    &--mobile.accordion--active &__content {
      display: block;
    }
  }
}