.callback-box {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 30;

  &__btn {
    width: 82px;
    height: 82px;
    transition: transform .3s, box-shadow .3s;
    animation: pulse 3s infinite;

    img {
      width: 51px;
      height: 51px;
    }

    &:hover {
      transform: translateY(-5px);
    }
  }

  @media (max-width: 1240px) {
    bottom: 25px;
    right: 25px;

    &__btn {
      width: 68px;
      height: 68px;

      img {
        width: 42px;
        height: 42px;
      }
    }
  }

  @media (max-width: 991px) {
    display: none;
  }
}