.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fefefe;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  z-index: 20;
  padding: 26px 0 20px;

  &__top {
    display: flex;
    align-items: center;
  }

  &__menu {
    margin-left: auto;
  }

  &__user-nav {
    margin-left: 34px;
  }

  &__contact {
    margin-left: 32px;
    display: flex;
    align-items: flex-start;

    &:hover &-icon {
      animation: pulse-small 1.5s infinite;
    }

    &-icon {
      margin-right: 8px;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: @color-success;
    }

    &-title {
      color: @color-gray;
      font-weight: 600;
      line-height: 1.375;
    }

    &-text {
      font-size: 12px;
      line-height: 1.33;
      color: @color-gray;
    }
  }

  &__bottom {
    margin-top: 20px;
    padding-top: 16px;
    border-top: 1px solid #e0e5ed;
  }

  @media (max-width: 991px) {
    padding: 22px 0 20px;

    &__contact {
      display: none;
    }

    &__user-nav {
      margin-left: auto;
    }

    &__menu {
      margin-left: 18px;
      order: 2;
    }

    &__bottom {
      display: none;
      
      &-menu {
        margin-top: 24px;
      }
    }
  }

  @media (max-width: 640px) {
    padding: 14px 0 16px;
  }
}
