.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  z-index: 20;
  padding: 26px 0 20px;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fefefe;
    box-shadow: 0px 2px 12px rgba(81, 81, 81, 0.12);
  }

  &__top {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
  }

  &__menu {
    margin-left: auto;
  }

  &__cart-btn {
    margin-left: 38px;
  }

  &__user-nav {
    margin-left: 34px;
  }

  &__contact {
    margin-left: 32px;
    display: flex;
    align-items: flex-start;

    &:hover &-icon {
      animation: pulse-small 1.5s infinite;
    }

    &-icon {
      margin-right: 8px;
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: rgba(@color-success, 0.1);
    }

    &-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 1.375;
      color: #151515;
    }

    &-text {
      font-size: 12px;
      line-height: 1.33;
      color: #545454;
    }
  }

  &__bottom {
    margin-top: 20px;
    padding-top: 16px;
    border-top: 1px solid #e0e5ed;
  }

  @media (max-width: 991px) {
    padding: 22px 0 20px;

    &__contact {
      display: none;
    }

    &__cart-btn {
      margin-left: auto;
    }

    &__user-nav {
      margin-left: auto;
    }

    &__cart-btn + &__user-nav {
      margin-left: 18px;
    }

    &__menu {
      margin-left: 18px;
      order: 2;
    }

    &__bottom {
      display: none;
      
      &-menu {
        margin-top: 24px;
      }
    }
  }

  @media (max-width: 640px) {
    padding: 14px 0 16px;
  }
}
