.product {
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  overflow: hidden;

  &__img-box {
    position: relative;
    padding-top: min(83%, 253px);
    display: block;

    &--large {
      padding-top: min(68.5%, 284px);
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__tags {
    position: absolute;
    right: 12px;
    bottom: 12px;
  }

  &__info {
    padding: 18px 24px 39px;
  }

  &__name {
    max-width: 290px;
  }

  &__text {
    margin-top: 12px;
    max-width: 290px;
  }

  &__status {
    margin-top: 4px;
  }

  &__colors {
    padding-top: 8px;
    margin: -8px -4px 0;
    display: flex;
    flex-wrap: wrap;

    &-item {
      margin: 8px 4px 0;
    }
  }

  &__price {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.39;

    &-old {
      margin-right: 12px;
      color: @color-gray;
      text-decoration: line-through;
    }
  }

  &__btn {
    margin-top: 32px;
    width: 100%;
  }

  @media (max-width: 1240px) {
    &__info {
      padding: 14px 20px 32px;
    }

    &__price {
      margin-top: 12px;
      font-size: 17px;
    }

    &__btn {
      margin-top: 28px;
    }
  }

  @media (max-width: 767px) {
    &__img-box {
      padding-top: min(68.5%, 230px);
    }

    &__tags {
      right: 8px;
      bottom: 8px;
    }

    &__info {
      padding: 14px 14px 21px;
    }

    &__text {
      display: none;
    }

    &__price {
      margin-top: 10px;
      font-size: 16px;
    }

    &__btn {
      margin-top: 20px;
    }
  }
}